/*noinspection ALL*/
:root {
    --primary-bg-color: #010101;
    --primary-fg-color: #b3b3b3;
    --up-txt-color: #A7F541;
    --down-txt-color: #ff2727;
    --white-txt-color: #e1e1e1;
    --hovered-txt-color: #7AAF34;
    --section-bg-color: #17161A;
    --grey-btn-color: #131217;
    --grey-btn-txt-color: #9e9ea0;
    --btnbar-grad-start: #323137;
    --btnbar-grad-end: #1B1A1E;
    --btn-grad-start: #3C3A42;
    --btn-grad-end: #121113;
    --btn-active-color: #131217;
    --thin-border-highlite: #323138;
    --thin-border-shadow: #111113;
    --tbody-bg-color: #262529;
    --up-btn-grad-start: #8bae00;
    --up-btn-grad-end: #437705;
    /*--up-btn-border-top-color:#A4CB6D;
    --up-btn-border-bottom-color:#243504;*/
    --down-btn-grad-start: #ff4723;
    --down-btn-grad-end: #9a000f;
    /*--down-btn-border-top-color:#E96A6A;
    --down-btn-border-bottom-color:#3E0000;*/
    --ticker-up-color: #C60100;
    --ticker-down-color: #8BD300;
    --bright-gold: #dfcf3e;
    --bright-green: #5AFF03;
    --grey-mask: #212325;
}
