:root {
    --html-font-size: 62.5%;
    --body-font-size: 1.4em;
    --body-line-height: 1.5;
    --body-font-family: OpenSans, Arial, Helvetica, sans-serif;
    /*--mono-font-family: Consolas, Monaco, monospace;*/
    --bold-font-family: OpenSansBold, arialblack;
    --xtra-font-family: OpenSansXtra, arialblack;
    --cond-font-family: HelveticaNeue-CondensedBold, Impact;
}
