@import "normalize.css";
@import "colors.css";
@import "fonts.css";
@import "fontmetrics.css";
@import "element_metrics.css";

* {
    box-sizing: border-box;
}

/* common tags */
/*noinspection CssInvalidFunction*/

html {
    font-size: var(--html-font-size);
    background-color: var(--primary-bg-color);
}

body {
    width: 100%;
    min-width: 1240px;
    margin: 0;
    padding: 0;
    font: var(--body-font-size) var(--body-font-family);
    color: var(--primary-fg-color);
}

@media screen and (min-width: 1900px) {
    body {
        overflow-x: hidden;
    }
}

@media screen and (min-height: 1070px) {
    body {
        overflow-y: hidden;
    }
}

#app {
    height: 1075px;
}

section.topNavBar {
    height: var(--topBarHeight);
}

section.bottomNavBar {
    height: var(--bottomBarHeight);
    padding: 0 30px;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    line-height: var(--bottomBarHeight);
}

hr {
    width: 95%;
    border: none;
    border-bottom: 1px solid var(--thin-border-highlite);
    border-top: 1px solid var(--thin-border-shadow);
}

/* Typography stuff */

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

small {
    font-size: 1.1rem;
}

/*time {
    color: #fff;
    font-size: 1.1rem;
}*/

/* modal stuff */

.modal {
    padding: 20px;
    background: var(--primary-bg-color) url(../img/body_bg.png);
    position: absolute;
    z-index: 1;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.modal-anim-enter {
    opacity: 0.00;
    transform: scale(1.1);
    transition: all 300ms;
}

.modal-anim-enter.modal-anim-enter-active {
    opacity: 1;
    transform: scale(1);
}

.modal-anim-leave {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
}

.modal-anim-leave.modal-anim-leave-active {
    opacity: 0.00;
    transform: scale(1.1);
}

.overlay {
    box-sizing: content-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    z-index: 9999;
}

/* flex stuff */

.rowParent, .columnParent, .flexrow, .btnbar {
    display: flex;
}

.flexrow {
    justify-content: space-between;
    align-items: baseline;
}

.columnParent {
    flex-direction: column;
}

.flexChild {
    flex: 1;
    justify-content: space-between;
    position: relative;
}

/* elements stuff */

.relpos {
    position: relative;
}

.chartPanel, .ticker {
    flex: 0 0 auto;
}

.chartPanel {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: var(--chartPanelWidth);
}

.chartArea {
    height: var(--chartHeight);
    background-color: var(--primary-bg-color);
}


/*ticker*/

.tickerpanel {
    height: var(--centralSectionHeight);
    min-width: var(--tickerpanelWidth);
    min-height: var(--chartHeight);
    margin: auto !important;
    border-left: 1px solid #444;
}

.ticker {
    width: var(--tickerWidth);
    height: var(--tickerHeight);
    margin: auto;
    padding: 0 12px;
    border-left: 1px solid #27292A;
    border-right: 1px solid #27292A;
    background-color: #0E1112;
    font-family: LedBoard, sans serif;
    font-size: 23px;
    color: rgb(253, 171, 1);
    line-height: 1.3;
    user-select: none;
    cursor: default;
}

.ticker div {
    text-align: center;
    font-weight: normal;
}

.ticker .up {
    text-align: left;
    color: var(--ticker-up-color);
}

.ticker .down {
    text-align: right;
    color: var(--ticker-down-color);
}

.tickerscroller {
    height: var(--tickerHeight);
    overflow: hidden;
    padding: 10px 14px;
    background-color: #000;
    border-left: 1px solid #181B1C;
    border-right: 1px solid #181B1C;
}

.timerem {
    text-align: center;
    margin: 25px auto auto;
    color: #fff;
}

.timerem p {
    font-family: var(--cond-font-family);
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 0;
}

.timerem time {
    display: block;
    width: 192px;
    height: 67px;
    margin: 5px auto;
    border: 2px inset #333;
    border-radius: 100px;
    font-family: var(--bold-font-family);
    font-size: 5rem;
    line-height: 1.3;
    background-color: #1C2328;
    box-shadow: 0 6px 6px 6px #111 inset;
}

.panel {
    background: var(--section-bg-color) url(../img/lthr_bg.png);
}

/* text stuff */

.bold {
    font-weight: bold;
}

.alignright {
    text-align: right
}

.up, .down {
    text-transform: uppercase;
    font-weight: bold;
}

.up {
    color: var(--up-txt-color);
}

.down {
    color: var(--down-txt-color);
}

.smalluptext {
    font-size: 1.0rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.03rem;
}

.whitetxt {
    color: var(--white-txt-color);
}

.whitetxt a {
    color: inherit;
    text-decoration: none;
    padding: 0 5px;
}

.whitetxt a:not(:last-child) {
    border-right: 1px solid var(--primary-fg-color);
}

.whitetxt a:hover {
    text-decoration: underline;
}

/* buttons stuff */

button {
    height: 33px;
    padding: 0 15px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 0;
    color: var(--primary-fg-color);
    background: linear-gradient(var(--btnbar-grad-start), var(--btnbar-grad-end));
    border: 2px solid black;
    border-radius: 16px;
    user-select: none;
    cursor: pointer;
}

button:hover, button:active {
    color: var(--hovered-txt-color);
}

button:active {
    background: var(--btn-active-color);
}

.btn {
    display: inline-block;
    min-width: 44px;
    height: 34px;
    padding: 1px 6px;
    background-image: var(--btnBgGrad);
    color: #fff;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 3.0;
    border: 2px solid #131b1e;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.7);
    user-select: none;
    cursor: pointer;
    transition: color 300ms;
}

nav .btn:first-of-type {
    border-radius: 17px 0 0 17px;
    padding-left: 13px;
}

nav .btn:last-of-type {
    border-radius: 0 17px 17px 0;
    padding-right: 13px;
}

nav .btn:only-of-type {
    border-radius: 17px;
}

ul.tabbar {
    position: relative;
    height: 45px;
    margin: 0;
    padding: 0 20px;
    z-index: 1;
    white-space: nowrap;
    border-bottom: var(--tabsBorder);
    box-shadow: 0 8px 8px 0 #111;
}

ul.tabbar li {
    position: relative;
    display: inline-block;
    height: 52px;
    min-width: 120px;
    padding: 0px 25px;
    margin: 0 -3px;
    font-family: var(--cond-font-family);
    border-radius: 17px;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

ul.tabbar li.active {
    color: #faf135;
    cursor: default;
    z-index: 10;
}

ul.tabbar li::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: .5em; left: 0;
    z-index: -1;
    border-bottom: var(--tabsBorder);
    border-radius: 10px 10px 0 0;
    background-image: var(--btnBgGrad);
    transform: perspective(4px) rotateX(1deg);
    transform-origin: bottom;
}

ul.tabbar li.active::before {
    background-image: url(../img/activeTabBg.png);
    background-size: contain;
    border-width: 4px 3px 3px;
    border-style: ridge ridge none;
    border-color: #FFD700 #DAA520 #75b760;
}

.btn.icon::after {
    content:'';
    display: inline-block;
    width: 24px;
    height: 20px;
    margin: 5px auto;
    background: url('../img/charticons.png') no-repeat;
}

.btn.icon.point::after {
    background-position: -127px 0;
}

.btn.icon.point:hover::after, .btn.icon.point.active::after {
    background-position: -127px -27px;
}

.btn.icon.measure::after {
    background-position: -153px 0;
}

.btn.icon.measure:hover::after, .btn.icon.measure.active::after {
    background-position: -153px -27px;
}

.btn.icon.zoomin::after {
    background-position: -65px 0;
}

.btn.icon.zoomin:hover::after, .btn.icon.zoomin.active::after {
    background-position: -65px -27px;
}

.btn.icon.zoomout::after {
    background-position: -95px 0;
}

.btn.icon.zoomout:hover::after, .btn.icon.zoomout.active::after {
    background-position: -95px -27px;
}

.btn.icon.spline::after {
    background-position: -35px 0;
}

.btn.icon.spline:hover::after, .btn.icon.spline.active::after {
    background-position: -35px -27px;
}

.btn.icon.candles::after {
    background-position: 0 0;
}

.btn.icon.candles:hover::after, .btn.icon.candles.active::after {
    background-position: 0 -27px;
}

.btn.icon.indicators::after {
    background-position: -183px 0;
}

.btn.icon.indicators:hover::after, .btn.icon.indicators.active::after {
    background-position: -183px -27px;
}

.btnbar {
    height: 55px;
    padding: 8px 5px;
    background: url(../img/btnbar_bg.png);
    border: none;
}

.btnbar nav {
    box-shadow: 0 -4px 3px -1px #666;
    border-radius: 20px;
    margin: 0 5px;
}


.btn:hover {
    color: var(--hovered-txt-color);
}

.btn:active, .btn.active {
    background: #232226;
    color: var(--up-txt-color);
    box-shadow: 0 3px 3px 0 rgb(8, 9, 8) inset;
    cursor: default;

}

/* checkbox switcher */

.modeSwitch {
    text-align: center;
    margin: 10px auto 12px;
}

.rswitch {
    display: inline-flex;
    border-radius: 3px;
    background-color: #000;
    background-image: linear-gradient(rgb(41,41,49), rgb(17,17,21));
    padding: 3px;
    box-shadow: 0 2px 9px 0 #000 inset;
}
.rswitch input {
    display: none;
}
.rswitch label {
    margin: 0;
    border-top: 1px solid #666;
    border-radius: 3px;
    background-image: linear-gradient(rgb(70,71,84), rgb(29,29,38));
    box-shadow: 0px 4px 9px 0px #000;
    min-width: 65px;
    height: 35px;
    line-height: 32px;
    cursor: pointer;
    transition: color 300ms;
}
.rswitch label:hover {
    color: var(--hovered-txt-color);
}

.rswitch input:checked + label {
    color: var(--up-txt-color);
    cursor: default;
    background: transparent none;
    box-shadow: none;
    border-color: transparent;
}

.rswitch input:checked + label span{
    text-shadow: 0 0 3px lime;
}

.modeSwitch .icon {
    display: inline-block;
    height: 14px;
    margin: auto 3px;
    background-image: url(../img/fxbx_icons.png);
}

label[for=FXModeRadio] .icon {
    width: 14px;
    background-position: -3px -2px;
}

.rswitch input:checked + label[for=FXModeRadio] .icon {
    background-position: -3px -22px;
}

label[for=BXModeRadio] .icon {
    width: 9px;
    background-position: -25px -2px;
}

.rswitch input:checked + label[for=BXModeRadio] .icon {
    background-position: -25px -22px;
}

.bigbtn {
    position: relative;
    width: 49%;
    border: none;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    font-size: 1rem;
    padding: var(--bigBtnPadding);
    margin: 2px;
    border-radius: 5px;
}

.bigbtn.up, .bigbtn.down {
    color: #fff;
}

.ctrlpnl.active .bigbtn:not(.active) {
    box-shadow: 0 0 4px 1px #ddd inset;
    background-image: linear-gradient(#777689, #323040);
}


.ctrlpnl.active .bigbtn.up.active:not(.disabled){
    background: linear-gradient(var(--up-btn-grad-start), var(--up-btn-grad-end));
    box-shadow: 0 1px 3px 4px #A3C600 inset;
    animation: blink 300ms;
}

.ctrlpnl.active .bigbtn.down.active:not(.disabled){
    background: linear-gradient(var(--down-btn-grad-start), var(--down-btn-grad-end));
    box-shadow: 0 0 2px 2px #ffac7e inset;
    animation: blink 300ms;
}

.ctrlpnl.active .bigbtn.up:not(.disabled):active {
    background: var(--up-btn-grad-end);
}

.ctrlpnl.active .bigbtn.down:not(.disabled):active {
    background: var(--down-btn-grad-end);
}

.ctrlpnl:not(.active) .bigbtn, .bigbtn.disabled {
    color: #999;
    background: linear-gradient(var(--btnbar-grad-start), var(--btnbar-grad-end));
    cursor: default;
}

.ctrlpnl:not(.active) .bigbtn .trendicon, .bigbtn.disabled .trendicon {
    opacity: 0.3;
}

.ctrlpnl:not(.active) .whitetxt {
    color: var(--primary-fg-color);
}

.bigbtn .trendicon {
    position: absolute;
    top: 15px;
    right: var(--bigBtnPadding);
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/trendicons.png) no-repeat;
}

.bigbtn.down .trendicon {
    background-position: -40px 0;
}

.bigbtn.disabled .trendicon {
    opacity: 0.3;
}

.bigbtn .fat{
    font-family: var(--xtra-font-family);
    font-size: 2.8rem;
    line-height: 0.8;
    letter-spacing: -0.1rem;
}

.bigbtn .info{
    text-transform: capitalize;
    font-weight: normal;
    line-height: 2.0;
}

.bigbtn.up .info, .bigbtn.up .payout {
    text-align: right;
}

.bigbtn .payout {
    font-family: var(--bold-font-family);
    font-size: 1.8rem;
    line-height: 0.5;
}

.payout sup {
    top: -0.3em;
}

 /*Big EE button stuff*/

.bigRndBtn {
    width: var(--bigrndbtn-size);
    height: var(--bigrndbtn-size);
    border: 1px solid #111;
    border-radius: 50%;
    margin: -50px auto auto;
    text-align: center;
    box-shadow: inset 0px -1px 1px 0px rgba(96, 96, 124, 0.54);
    background-image: url(../img/bigRoundBtnBg1.png);
}

@custom-selector :--bigRndBtnInner .bigRndBtn > div;

:--bigRndBtnInner {
    position: relative;
    top: var(--bigrndbtn-first-div-position);
    left: var(--bigrndbtn-first-div-position);
    width: var(--bigrndbtn-first-div-size);
    height: var(--bigrndbtn-first-div-size);
    border-radius: 50%;
    background: radial-gradient(#56464f 55%, #2f2828 75%);
  }

:--bigRndBtnInner > div {
    user-select: none;
}

:--bigRndBtnInner > div > div {
    position: absolute;
    top: var(--bigrndbtn-second-div-position);
    left: var(--bigrndbtn-second-div-position);
    width: var(--bigrndbtn-second-div-size);
    height: var(--bigrndbtn-second-div-size);
    border: 1px solid rgba(25, 53, 0, 0.7);
    border-radius: 50%;
    background: linear-gradient(#99cc14, #153000);
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.25);
    cursor: default;
}

:--bigRndBtnInner > div > div.loss {
      background: linear-gradient(#e16800, #620000);
      border-color: rgba(100, 2, 0, 0.7);
  }

:--bigRndBtnInner > div > div.active {
      cursor: pointer;
  }

:--bigRndBtnInner > div > div.active:active {
      background: #50830E;
  }

:--bigRndBtnInner > div > div.loss.active:active {
      background: var(--down-btn-grad-end);
  }

:--bigRndBtnInner > div > div > div {
    position: relative;
    display: flex;
    top: var(--bigrndbtn-third-div-position);
    left: var(--bigrndbtn-third-div-position);
    width: var(--bigrndbtn-third-div-size);
    height: var(--bigrndbtn-third-div-size);
    padding: 10px;
    border-radius: 50%;
      background: linear-gradient(#9dd20c, #4a730e);
      box-shadow: inset 0 4px 4px 0 #c4f836;
  }

:--bigRndBtnInner > div > div.loss > div {
      background: linear-gradient(#fc6b0f, #ae0108);
      box-shadow: inset 0 4px 4px 0 #ffaf17;
  }

.clockface {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--bigrndbtn-first-div-size);
    height: var(--bigrndbtn-first-div-size);
}

.clockface svg {
    transform: rotate(-90deg);
}

.clockface svg circle:first-of-type {
    fill: transparent;
    stroke-width: var(--clockfaceSvgCircleStrokeWidth);
    stroke-dasharray: var(--clockfaceSvgCircleStrokeDasharray);
}

.clockface svg circle:last-of-type {
    fill: transparent;
    stroke: rgba(0, 0, 0, 0.5);
    stroke-width: var(--clockfaceSvgCircleStrokeWidth);
    stroke-dasharray: 1, 24;
}

.redGrad1 {
    stop-color: rgb(255,174,0);
}

.redGrad2 {
    stop-color: rgb(255,44,64);
}

.redGrad3 {
    stop-color: rgb(203,0,19);
}

.greenGrad1 {
    stop-color: rgb(205,255,30);
}

.greenGrad2 {
    stop-color: rgb(36,73,0);
}



.bigRndBtn h6 {
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    margin: auto;
    font-size: 1.55rem;
    text-align: center;
    margin: auto;
    font-family: var(--xtra-font-family);
}

.bigRndBtn h6.blink {
    animation: blink 1s infinite;
}

.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

.eeValDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    align-items: flex-start;
    margin: 5px auto 17px;
}

.eeValSpan:nth-child(2) {
    font-size: 3rem;
    font-weight: bold;
    line-height: 0.7;
    letter-spacing: -0.1rem;
    margin-right: 2px;
}

.nobold {
    text-transform: uppercase;
    font-size: 1.4rem;
}

.smallbtn {
    display: inline-block;
    min-width: 40px;
    margin: auto 2px;
    padding: 3px 6px;
    font-size: 1.0rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-fg-color);
    background: linear-gradient(var(--btnbar-grad-start), var(--btnbar-grad-end));
    border: 3px solid black;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
}

.smallbtn:hover {
    color: var(--hovered-txt-color);
}

.smallbtn:active, .smallbtn.active {
    border: 3px solid black !important;
    cursor: default;
    background-color: #232227;
}

/*expiry slider*/

.sliderdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px auto;
}

.sliderpath {
    position: relative;
    padding: 3px 0;
    font-size: 1.0rem;
    font-weight: bold;
    letter-spacing: -1px;
    border: 1px solid #0a0a0a;
    border-radius: 4px;
    background: linear-gradient(#19191c, #323238);
    box-shadow: inset 0 1px 4px 0 #191919;
    cursor: default;
    user-select: none;
}

.sliderpath span {
    display: inline-block;
    margin: auto 6px;
    width: 20px;
    text-align: center;
    text-shadow: 0 1px 2px #000;
    transition: color 200ms;
    line-height: 0.9;
}

.ctrlpnl.active .sliderpath span.active {
    color: #fffa73;
}

.ctrlpnl.active .sliderpath span:not(.active):hover {
    color: #fffa73;
    cursor: pointer;
}

.sliderthumb {
    position: absolute;
    top: -14px;
    width: 45px;
    height: 54px;
    border-radius: 5px;
    background: url(../img/sliderthumb.png) no-repeat -7px 0;
    transition: left 300ms;
}

.ctrlpnl.active .sliderthumb {
    background: url(../img/sliderthumb_active.png) no-repeat -7px 0;
}

    /* leds and lights stuff */

.led {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 6px;
    vertical-align: text-bottom;
    background-image: linear-gradient(rgb(12,12,15), rgb(34,34,45));
    transition: box-shadow 300ms;
}

.led.active {
    box-shadow: 0 -1px 1px 0 #75c802 inset;
    background: url(../img/activeled.png) no-repeat 1px 2px;
}

.led.alert {
    box-shadow: 0 -1px 1px 0 #dd2a00 inset;
    background: url(../img/alertled.png) no-repeat 1px 2px;
}

.connstatus {
    font-weight: bold;
    text-transform: uppercase;
}

/* Form stuff */

.formrow {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    margin: auto 5px;
    user-select: none;
}

form label {
    min-width: 60px;
    display: inline-block;
    text-align: right;
}

form select {
    font-weight: normal;
}

.formbuttons {
    text-align: right;
    margin-top: 20px;
}

.formbuttons button {
    margin-left: 5px;
}

input[type=text],
input[type=password],
input[type=number],
input[type=url],
input[type=email],
select {
    font-family: var(--body-font-family);
    font-size: 1.2rem;
    color: #4F4F4F;
    height: 30px;
    border-radius: 4px;
    background-color: #D3D3D3;
    box-shadow: 0 1px 3px 1px #666 inset;
    border: none;
    padding: 5px 9px 2px;
    outline: none;
    max-width: 100px;
}

input[size='2']{
    width: 40px;
}

input[type=text] {
    width: 83px;
}

input:focus, select:focus {
    outline: none;
    border:none;
}

input.amount {
    width: 43px;
    display: none;
    position: absolute;
    left: 5px;
    top: 6px;
    box-shadow: none;
    height: 18px;
    padding: 0 0 0 5px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

option {
    margin: 2px auto;
}

/* table stuff */

@custom-selector :--indicatorForm form[name=indicatorForm] table;

:--indicatorForm {
      border-spacing: 0 10px;
  }

:--indicatorForm, :--indicatorForm td {
    background: none;
    border: none;
}

:--indicatorForm td {
    width: 25%;
  }

:--indicatorForm td:nth-child(odd) {
    text-align: right;
  }
:--indicatorForm td:nth-child(even) {
    text-align: left;
  }

:--indicatorForm tfoot {
    text-align: right;
  }

:--indicatorForm select {
    width: 100%;
  }

.tablepanel {
    height: var(--tableHeight);
    border-top: 3px double #444;
}

table {
    border-collapse: initial;
    border-spacing: 0 1px;
    width: 100%;
    color: rgb(186, 185, 185);
    background-image: linear-gradient(#272f33, #191e20);
}

thead {
    background-image: linear-gradient(#1e2629, #13181a);
    font-family: var(--cond-font-family);
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(102, 122, 131);
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 0 2px #000;
    user-select: none;
    cursor: pointer;
}

th {
    border: 1px solid var(--grey-btn-color);
    height: 27px;
    padding: 0 5px 0 10px;
}

th:first-child {
    border-left-color: transparent;
}

th:last-child {
    border-right-color: transparent;
}

th.sort-descending, th.sort-ascending {
    color: var(--primary-fg-color);
    background-image: linear-gradient(#2e383b, #1d2426);
}

th.sort-descending span:last-of-type, th.sort-ascending span:last-of-type {
    float: right;
    line-height: 1;
}

tbody:first-of-type {
    text-align: center;
    font-size: 1.3rem;
}

tbody tr {
    height: 34px;
}

tbody tr.yellowrow {
     color: var(--bright-gold);
}

td {
    border-top: 1px solid var(--thin-border-highlite);
    border-bottom: 1px solid var(--thin-border-shadow);
}

table button {
    display: inline-block;
    max-height: 25px;
    min-width: 40px;
    margin: auto 2px;
    box-shadow: 0px -2px 2px 0px #999;
    font-family: var(--cond-font-family);
}

table button.active {
    color: var(--hovered-txt-color);
    background: #232227;
    cursor: default;
}

table button:hover {
    color: var(--hovered-txt-color);
}

.footer-container {
    background-image: linear-gradient(#1e2629, #13181a);
}

.griddle-previous, .griddle-next, .griddle-page {
    width: 33%;
    float: left;
    min-height: 1px;
    padding: 0 10px;
}

.griddle-previous {
    text-align: left;
}

.griddle-page {
    width: 34%;
    text-align: center;
}

.griddle-next {
    text-align: right;
}

.griddle-page select {
    padding: 1px 5px;
    height: 24px;
    box-shadow: none;
    font-size: 1.4rem;
}

.griddle-nodata {
    text-align: center;
    margin: 100px auto;
}

/* fixed width for profit/loss in the trades table */

.fw1, .fw2 {
    display: inline-block;
    margin-right: 5px;
}

.fw1 {
    min-width: 40px;
}

/* icons & stuff */

.loader {
    width: 100px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader > div {
    content: " ";
    width: 15px;
    height: 15px;
    background-color: var(--primary-bg-color);
    border-radius: 100%;
    position: absolute;
    animation: shift 2s linear infinite;
}

.loader > div:nth-of-type(1) {
    animation-delay: -.4s;
}

.loader > div:nth-of-type(2) {
    animation-delay: -.8s;
}

.loader > div:nth-of-type(3) {
    animation-delay: -1.2s;
}

.loader > div:nth-of-type(4) {
    animation-delay: -1.6s;
}

@keyframes shift {
    0% {
        left: -60px;
        opacity: 0;
        background-color: #7AB32B;
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 100px;
        opacity: 1;
    }
    100% {
        left: 160px;
        background-color: #7AB32B;
        opacity: 0;
    }
}

.loader-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.loader-leave.loader-leave-active {
    opacity: 0.01;
}



.topNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    background: url(../img/topBarBg.png);
    box-shadow: 0px 0px 4px 3px #222;
    margin-bottom: 3px;
}

.topNavBar .title {
    font-size: 2.0rem;
    font-weight: bold;
    text-align: center;
    margin-top: 13px;
    letter-spacing: -0.5px;
}

.logo {
    display:inline-block;
    width: var(--leftControlsWidth);
    height: 69px;
    background: url(../img/logo.png) no-repeat center -4px;
    margin: auto 0;
}

.vsepar {
    width: 1px;
    min-height: 100%;
    border-left: 1px solid #161519;
    border-right: 1px solid #38363d;
    margin: 0 5px;
}

.yell {
    color: var(--bright-gold);
}

/* user login form */

.userPanel {
    min-width: 350px;
    border-radius: 100px;
    padding: 8px;
    background: linear-gradient(rgb(10, 14, 16), rgb(14, 22, 24));
    margin-right: 20px;
}

.userPanel .inner {
    background: linear-gradient(rgb(6, 6, 6), rgb(36, 41, 44));
    border: 2px solid goldenrod;
    border-bottom-color: gold;
    border-radius: 100px;
}

.userPanel form,.userPanel dt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userPanel input {
    width: 100px;
    margin: 5px;
    vertical-align: middle;
    flex: 1 0 auto;
}

.userPanel input:first-of-type {
    margin: 5px 0 5px 20px;
}

.userPanel dt {
    text-transform: uppercase;
    margin: 3px 0 2px 20px;
    font-family: var(--cond-font-family);
    font-size: 1.6rem;
    color: var(--white-txt-color);
    line-height: 0;
}

.userPanel div {
    margin-right: 5px;
    flex: 1 0 auto;
}

.userPanel .btn {
    max-width: 80px;
    height: 35px;
    background: linear-gradient(rgb(38, 43, 47), rgb(27, 32, 36) 48%, rgb(18, 23, 27) 50%, rgb(33, 38, 41));
    vertical-align: middle;
    line-height: 0;
    border-radius: 0 100px 100px 0;
    border: 2px solid #444;
    font-family: var(--cond-font-family);
    font-size: 1.2rem;
    color: var(--white-txt-color);
    box-shadow: none;
    margin-right: 3px;
    flex: 1 0 auto;
}

.userPanel .btn:hover {
    background: linear-gradient(#514E58, #3C3A42 10%, #121113);
}

.userPanel .btn:active {
    background: var(--btn-active-color);
    border-color: transparent;
}

.btn.redhover:hover, .btn.redhover:active {
    color: var(--down-txt-color);
}

/* control panels on the left */

.leftCtrls {
    min-width: var(--leftControlsWidth);
    border-right: 1px solid #444;
    padding: 0 15px;
}

.ctrlpnl {
    position: relative;
    border-radius: 5px;
    margin: 0 auto 19px;
    box-shadow: none;
    user-select: none;
    cursor: default;
}

.ctrlpnl.active {
    box-shadow: 0px 5px 0px 0px var(--grey-mask), 0px -5px 0px 0px var(--grey-mask), 5px 0px 1px 0px #6FC103, -5px 0px 1px 0px #6FC103;
}

.ctrlpnl.active:before {
    position: absolute;
    top: 85px;
    left: -6px;
    border-left: 5px solid var(--grey-mask);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: '';
}

.ctrlpnl.active:after {
    position: absolute;
    top: 85px;
    left: 328px;
    border-right: 5px solid var(--grey-mask);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: '';
}

.ctrlpnlHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 6px 3px 2px;
    background-image: linear-gradient(#4D4C56 0%, #2B2B32 49%, #1E1F25 50%, #141519 100%);
    border-bottom: 1px solid #666;
    border-radius: 5px 5px 0 0;
}

.ctrlpnlHead .payout {
    font-family: var(--bold-font-family);
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 0.7;
    transition: color 300ms;
}

.ctrlpnlHead .symLbl {
    font-family: var(--bold-font-family);
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 3px 7px;
}

.ctrlpnlBody {
    background-image: linear-gradient(rgb(63,63,70), rgb(39,39,47));
    padding: 5px;
    border-radius: 0 0 5px 5px;
}

.ctrlpnl.active .ctrlpnlHead .payout {
    color: #fff;
}

.ctrlpnl .relpos {
    padding: 1px;
    background-color: #111;
    border-radius: 5px;
}

.ctrlpnlHead .whitetxt {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    vertical-align: text-top;
    line-height: 1.0;
    margin-right: 6px;
}

.amountdiv {
    position: absolute;
    display: block;
    width: 25%;
    bottom: 8px;
    left: 37%;
    text-align: center;
    background-color: black;
    padding: 3px 3px 0 3px;
    border-radius: 3px 3px 0 0;
}

.amountdiv select{
    height: auto;
    width: 100%;
    padding: 3px;
    font-weight: bold;
}

select[disabled], input[disabled] {
    opacity: 0.6;
}

/* scrollbar webkit only */

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(0deg, rgb(50,49,55) 0%, rgb(25,24,28) 100%);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    width: 17px;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: rgb(13, 12, 14);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

#waitasec {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}